/* Container für die gesamte Seite */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/images/login-background.jpg') no-repeat center center fixed; /* Hintergrundbild */
    background-size: cover; /* Skaliert das Bild */
    font-family: 'Arial', sans-serif;
  }
  
  
  /* Login-Button */
  .login-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(245deg, #e0e0e0, #9d9c9c);  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
  }
  
  .login-button:hover {
    transform: translateY(2px); /* Hebt den Button leicht an */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4), inset 0 -1px 3px rgba(0, 0, 0, 0.5);
    background: linear-gradient(245deg, #e0e0e0, #c4c4c4); /* Hellerer Effekt */
}
  
  /* Modal Overlay */
  .dialog-overlay {
    background-color: rgba(34, 34, 34, 0.5);
    position: fixed;
    inset: 0;
  }
  
  /* Modal Content */
  .dialog-content {
    background-color: rgba(255, 255, 255, 0.9);  /* Leicht transparent */
    border-radius: 12px;
    padding: 30px;
    width: 420px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgba(224, 224, 224, 0.8);  /* Leichter Rand */
    backdrop-filter: blur(10px);  /* Weichzeichner für einen Glas-Effekt */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.dialog-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.dialog-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 6px;
    border: 1px solid #ededed;
    background-color: #868686;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.dialog-button:hover {
    background-color: #b1b1b1;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}